@mixin default-shadow($color) {
  @include extrude-shadow($color, 10%, $default-extrude-distance);
}

@mixin pressed-shadow($color) {
  @include extrude-shadow($color, 10%, 1px);
}

.button {
  display: inline-block;
  padding: 1rem;
  user-select: none;
  border-radius: 30px;
  background: var(--theme-bg-color);
  @include default-shadow($theme-light_bg-color);
  transition: box-shadow 200ms;
  &:active {
    @include pressed-shadow($theme-light_bg-color);
  }
}

.theme_light {
  .button {
    @include default-shadow($theme-light_bg-color);
    &:active {
      @include pressed-shadow($theme-light_bg-color);
    }
  }
}


@mixin dark-theme {
  .button {
    @include default-shadow($theme-dark_bg-color);
    &:active {
      @include pressed-shadow($theme-dark_bg-color);
    }
  }
}

@media (prefers-color-scheme: dark) {
  @include dark-theme();
}
.theme_dark {
  @include dark-theme();
}
