@mixin default-shadow {
  @include extrude-shadow($base-bg-color, 10%, $default-extrude-distance);
}

@mixin pressed-shadow {
  @include extrude-shadow($base-bg-color, 10%, 1px);
}

.button {
  display: inline-block;
  padding: 1rem;
  user-select: none;
  border-radius: 30px;
  background: $base-bg-color;
  @include default-shadow();
  transition: box-shadow 200ms;
  &:active {
    @include pressed-shadow();
  }
}
