@mixin default-shadow($color) {
  @include extrude-shadow($color, 10%, $default-extrude-distance);
  transform: scale(1);
}

@mixin pressed-shadow($color) {
  @include extrude-shadow($color, 10%, calc($default-extrude-distance / 2), $pressed: true);
  transform: scale(0.975);
}

.card {
  padding: 1rem;
  border-radius: 30px;
  background: var(--theme-bg-color);
  @include default-shadow($theme-light_bg-color);
  &.pressed {
    @include pressed-shadow($theme-light_bg-color);
    &.animated {
      &:focus,
      &:active {
        animation: pressing 200ms linear forwards reverse;
      }
    }
  }
  &.animated {
    &:focus,
    &:active {
      animation: pressing 200ms linear forwards;
    }
  }
}

.theme_light {
  .card {
    @include default-shadow($theme-light_bg-color);
    &.pressed {
      @include pressed-shadow($theme-light_bg-color);
    }
  }
  @keyframes pressing {
    0% {
      @include default-shadow($theme-light_bg-color);
    }
    50% {
      @include extrude-shadow($theme-light_bg-color, 10%, 0px);
    }
    51% {
      @include extrude-shadow($theme-light_bg-color, 10%, 0px, $pressed: true);
    }
    100% {
      @include pressed-shadow($theme-light_bg-color);
    }
  }
}

@mixin dark-theme {
  .card {
    @include default-shadow($theme-dark_bg-color);
    &.pressed {
      @include pressed-shadow($theme-dark_bg-color);
    }
  }
  @keyframes pressing {
    0% {
      @include default-shadow($theme-dark_bg-color);
    }
    50% {
      @include extrude-shadow($theme-dark_bg-color, 10%, 0px);
    }
    51% {
      @include extrude-shadow($theme-dark_bg-color, 10%, 0px, $pressed: true);
    }
    100% {
      @include pressed-shadow($theme-dark_bg-color);
    }
  }
}

.theme_dark {
  @include dark-theme();
}

@media (prefers-color-scheme: dark) {
  @include dark-theme();
}
