* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

button {
  -webkit-appearance: none;
  font: inherit;
  border: none;
  color: inherit;
  &:focus {
    outline: none;
  }
}
