@import './base/reset.scss';
@import './base/variables.scss';
@import './themes.scss';
@import './base/typography.scss';
@import './base/mixins.scss';

@import './layout/index.scss';

@import './components/card.scss';
@import './components/button.scss';
@import './components/link.scss';

body {
  background: var(--theme-bg-color);
  color: var(--theme-font-color);
  transition: all 0.5s ease;
}
