$theme-light_bg-color: #eee;
$theme-light_font-color: #3e3e3e;
$theme-light_link-font-color: darkcyan;

$theme-dark_bg-color: #222;
$theme-dark_font-color: #eee;
$theme-dark_link-font-color: cyan;

:root {
  --theme-bg-color: #{$theme-light_bg-color};
  --theme-font-color: #{$theme-light_font-color};
  --theme-link-font-color: #{$theme-light_link-font-color};
}

@mixin dark-theme {
  --theme-bg-color: #{$theme-dark_bg-color};
  --theme-font-color: #{$theme-dark_font-color};
  --theme-link-font-color: #{$theme-dark_link-font-color};
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dark-theme();
  }
}

.theme_dark {
  @include dark-theme();
}
